.side-bar
  .side-bar__Block
    .side-bar__Block__userbox
      .side-bar__Block__userbox--namebox
        masa
      .side-bar__Block__userbox--iconbox
        = link_to "#", class:'side-bar__Block__userbox--iconbox--pen' do
          = icon('fa', 'edit')
        = link_to "#", class:'side-bar__Block__userbox--iconbox--sharin' do
          = icon('fa', 'cog')
  .side-bar__list
    .side-bar__list__groupbox
      .side-bar__list__groupbox--chat
        techcamp
      .side-bar__list__groupbox--latest-message
        まだメッセージがありません
    .side-bar__list__groupbox
      .side-bar__list__groupbox--chat
        techcamp
      .side-bar__list__groupbox--latest-message
        まだメッセージがありません