  .main-chat__message-form
    %form.main-chat__message-form__new-message
      .main-chat__message-form__new-message__input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'main-chat__message-form__new-message__input-box--text', placeholder: 'type a message'
            .form__mask
              =f.label :image, class: 'main-chat__message-form__new-message__input-box--image' do
                = icon('fas', 'image', class: 'icon')
                = f.file_field :image, class: 'main-chat__message-form__new-message__input-box--image__file'
      %input{type: "submit", class: "main-chat__message-form__new-message--submit-btn", value: "Send"}

        -# .main-chat__message-list
  -#   .main-chat__message-list__chat-list
  -#     .main-chat__message-list__chat-list__info
  -#       .main-chat__message-list__chat-list__info--member
  -#         masa
  -#       .main-chat__message-list__chat-list__info--send-time
  -#         2019/11/20(Wed) 17:43:01
  -#     .main-chat__message-list__chat-list--one-message
  -#       おはよう！

  -#     .main-chat__message-list__chat-list__info
  -#       .main-chat__message-list__chat-list__info--member
  -#         masa
  -#       .main-chat__message-list__chat-list__info--send-time
  -#         2019/11/20(Wed) 17:43:01
  -#     .main-chat__message-list__chat-list--one-message
  -#       今日は夜から雨

  -# .main-chat__message-form
  -#   %form.main-chat__message-form__new-message
  -#     .main-chat__message-form__new-message__input-box
  -#       = form_for [@group, @message] do |f|
  -#         = f.text_field :content, class: 'main-chat__message-form__new-message__input-box--text', placeholder: 'type a message'
  -#           .form__mask
  -#             =f.label :image, class: 'main-chat__message-form__new-message__input-box--image' do
  -#               = icon('fas', 'image', class: 'icon')
  -#               = f.file_field :image, class: main-chat__message-form__new-message__input-box--image__file'
  -#     %input{type: "submit", class: "main-chat__message-form__new-message--submit-btn", value: "Send"}