* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  color: white;
  height: 100vh;
  background-color: #253141;
  &__Block {
    align-items: center;
    display: flex;
    width: 300px;
    color: white;
    height: 100px;
    &__userbox {
      display: flex;
      padding: 0 20px;
      justify-content: space-between;
      &--namebox {
        font-size: 16px;
        height: 20px;
        width: 200px;
        line-height: 20px;
      }
      &--iconbox {
        font-size: 16px;
        height: 20px;
        width: 60px;
        text-align: right;
        &--pen {
          padding-left: 5px;
          text-decoration: none;
          color: #ffffff;
          cursor: pointer;
        }
        &--sharin {
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
  .groups {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0px;
    .group {
      margin-bottom: 40px;
      a {
        text-decoration: none;
      }
      .group__name {
        font-size: 15px;
        color: white;
        font-weight: bold;
        text-decoration: none;
      } 
      .group__message {
        font-size: 11px;
        color: white;
        font-weight: bold;
        text-decoration: none;
      }
    }  
  }
}

.main-chat {
  width: calc(100vw - 300px);
  color: black;
  height: 100vh;
  background-color: black;
  &__group-info {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 300px);
    height: 100px;
    background-color: #ffffff;  
    border-bottom: solid 1px #eeeeee;
    &__left-box {
      &__current-member {
        padding-left: 40px;
        a {
          text-decoration: none;
        }  
        &--group {
          font-size: 20px;
          color: #333333;
          padding-top: 35px;
        }
        &--list {
          font-size: 12px;
          color: #999999;
          padding-top: 15px;
        }
      }
    }
    &__right-box {
      padding: 28px 40px 32px 20px;
      &--Edit-btn {
        font-size: 16px;
        color: #38aef0;
        width: 72px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #38aef0;
        cursor: pointer;
      }
    }
  }
.messages {
  height: calc(100vh - 190px);
  width: calc(100vw - 300px);  
  background-color: #fafafa;
  overflow: scroll;
  .upper-message {
    padding: 35px 0px 0px 40px;
    display: flex;
      .upper-message__user-name {
        font-size: 16px;
        color: #333333;
      }
      .upper-message__date {
        font-size: 12px;
        color: #999999;
        padding-left: 12px;
      } 
    }
  .lower-message {
    padding-left: 35px;
    font-size: 14px;
    color: #434A54;
    margin-bottom: 46px;
  }
}  
.form {
  height: 90px;
  background-color: #d2d2d2;
  width:  calc(100vw - 300px);
  display: flex;
  padding: 20px 40px 20px 40px;
  &__message {
    height: 50px;
    width: 100%;
    color: #999999;
    padding: 0px 40px 0px 10px;
    display: flex;
    // position: relative;
    border-style: none;
  }
  .new_message {
    display: flex;
    width: 100%;
    position: relative;
  }
  &__mask {  
    display: flex;
    .form__mask__image {
      position: absolute;
      top: 13px;
      right: 120px;
      font-size: 20.8px;
    }
    .icon {
      color: #333333;
      cursor: pointer;
      background-color: white;
    }
    .hidden {
      display: none;
    }
  }

  .form__submit {
    font-size: 16px;
    color: white;
    margin-left: 15px;
    height: 50px;
    width: 100px;
    background-color: #38AEF0;
    border-style: none;
    cursor: pointer;
  }
}
}